<div class="container">
  <div class="row top">
    <div class="input-group-addon col-2">Limite</div>
    <input type="number" min="0" class="form-control col" (input)="changerLimite($event)">
  </div>
  <div class="row top">
    <div class="input-group-addon col-2">Filtre par pseudo</div>
    <input type="text" class="form-control col" (keyup)="filtrerPseudo($event)">
  </div>
</div>
<table class="table table-striped table-bordered top">
  <thead>
    <tr>
      <th></th>
      <th>Pseudo</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr app-un-collegue-tableau *ngFor='let collegue of collegues | slice:0:limite | filtre:filtre' [collegue]="collegue"></tr>
  </tbody>
</table>