.right{
    text-align: right;
    align-self: center;
}

.round{
    border-radius: 100%;
}

.center{
    text-align: center;
}

.top{
    margin-top: 2%;
}

.top-low{
    margin-top: 1%;
}

.bottom{
    margin-bottom: 2%;
}

.big-font{
    font-size: 100px;
}

.responsive{
    object-fit: cover;
    height:50rem !important;
    width:50rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

button{
     cursor: pointer;
 }

.round-border{
    border-radius: 5px;
}

.nav-margin{
    margin: 2%;
}

.background-grey{
    background-color: #e6e6e6;
}

.box-shadow{
    box-shadow: 7px 7px 5px 0px #e6e6e6;
}
